@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #2b2c30;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  -webkit-text-size-adjust: 100%;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #35313b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #613c4c;
}




